@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap');

$body-font-family: 'Comfortaa', sans-serif;
$border-radius-root: 8px;

.break-word {
  word-break: break-word;
}
